button {
    width: 250px;
    height: 52px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: white;
    border: none;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
   
}


.click-button{
    background-color: #5cb85c;
    /* margin-bottom: 12px; */
}

.click-button:hover{
    background-color: rgb(14, 137, 14);
}

.reset-button{
    background-color: rgb(247, 83, 64);
}

.reset-button:hover{
    background-color: rgb(160, 55, 43);
}

@media screen and (max-width: 780px){
    button {
        width: 200px;
        height: 48px;
        font-size: 24px;
        margin: 5px;
        
    }
}