.main-container{
    min-width: 200px;
    height: 200px;
    font-size: 120px;
    padding: 25px;
    color: rgb(3, 3, 87);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid rgb(3, 3, 87);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 780px) {
   .main-container{
        min-width: 160px;
        height: 160px;
        font-size: 100px;
        padding: 25px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-bottom: 15px;
        font-family: 'Poppins', sans-serif;
   }
}