.footer{
    width: 100%;
    color: #fff;
    background-color: rgb(3, 3, 87);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
a{
    color: #fff;
}